In [4]:
def scrap_linkedIn(url):
    from bs4 import BeautifulSoup as bs
    import requests
    import re
    import pandas as pd
    
    title = []
    location = []
    company_name = []
    job_req = []
    job_des = []
    
    req = requests.get(url)
    
    if str(req) == '<Response [200]>':
        soup = bs(req.content, 'html.parser')
        lst = soup.find_all('a', {'class':'base-card__full-link'})
        
        links = []
        for i in lst:
            links.append(i['href'])
            
        for i in range(len(links)):
            test_req = requests.get(links[i])
            if str(test_req) == '<Response [200]>':
                soup_ = bs(test_req.content, 'html.parser')
                
                #title
                title.append(soup_.find_all('h1')[0].text)
                
                #location
                location.append(soup_.find_all('span', class_='sub-nav-cta__meta-text')[0].text)
                
                #company name
                company_name.append(soup_.find_all('span')[6].find('a').text.strip())
                
                #job requriments
                job_req.append([i.text for i in soup_.find_all('ul')[5].find_all('li')])
                
                #job description
                job_des.append([i.text for i in soup_.find_all('ul')[4].find_all('li')])
                
                
    df = pd.DataFrame({'title':title, 'company_name':company_name, 'job_description':job_des,
             'job_requirments':job_req, 'location':location})
                
    return df

In [46]:
def create_files(df):
    for i in range(len(df)):
        ind = df.iloc[i, :].index
        value = df.iloc[i, :].values
        dic = {x:y  for x, y in zip(ind, value)}
        tit = df['title'][i]+'.txt'
        tit = tit.replace('/','').replace('|', '')
        
        with open(tit, 'w', encoding='utf-8') as f:
            for col in ind:
                f.writelines(col+'\n'+ dic[col]+'\n\n')

In [6]:
import pandas as pd

In [8]:
data = pd.read_csv('all-data.csv')
data.head()

,title,company_name,job_description,job_requirments,location
0,Data & BI Analyst,Klivvr,"['We put our visionaries first. ', 'We strive ...","['Identifying data sources', 'Analyzing data, ...",القاهرة قسم الزمالك مصر
1,Data Analyst,Axis,"['Interpreting marketing data, analyzing resul...","['Developing & implementing databases, data co...",القاهرة القاهرة مصر
2,Data Analyst,Cornerstone Recruitment MENA,['\n\n مستوى الأقدمية\n \n...,"['\nLinkedIn\n\n© 2022\n', '\n\n \n ...",القاهرة مصر
3,Fresh Graduates 2021/2022,Arab Bank,['\n\n مستوى الأقدمية\n \n...,"['\nLinkedIn\n\n© 2022\n', '\n\n \n ...",القاهرة مصر
4,Reporting and Data Analyst,Property Finder,['The ideal candidate will use their passion f...,['Graduated from Computer Science or Engineeri...,مصر

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74 entries, 0 to 73
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   title            74 non-null     object
 1   company_name     74 non-null     object
 2   job_description  74 non-null     object
 3   job_requirments  74 non-null     object
 4   location         74 non-null     object
dtypes: object(5)
memory usage: 1.5+ KB

In [12]:
cols = list(data.columns)
cols

['title', 'company_name', 'job_description', 'job_requirments', 'location']

In [38]:
import os

In [39]:
os.chdir(r'C:\Users\habiba\Documents\SIC\Tasks & Soluation\23 - Web scraping\files')
os.getcwd()

'C:\\Users\\habiba\\Documents\\SIC\\Tasks & Soluation\\23 - Web scraping\\files'

In [47]:
create_files(data)