In [1]:
import numpy as np
import pandas as pd
import re

In [2]:
data = pd.read_csv(r'C:\Users\habiba\Documents\SIC\Tasks & Soluation\23 - Web scraping\data\all-data.csv')
data.head()

,title,company_name,job_description,job_requirments,location
0,Data & BI Analyst,Klivvr,"['We put our visionaries first. ', 'We strive ...","['Identifying data sources', 'Analyzing data, ...",القاهرة قسم الزمالك مصر
1,Data Analyst,Axis,"['Interpreting marketing data, analyzing resul...","['Developing & implementing databases, data co...",القاهرة القاهرة مصر
2,Data Analyst,Cornerstone Recruitment MENA,['\n\n مستوى الأقدمية\n \n...,"['\nLinkedIn\n\n© 2022\n', '\n\n \n ...",القاهرة مصر
3,Fresh Graduates 2021/2022,Arab Bank,['\n\n مستوى الأقدمية\n \n...,"['\nLinkedIn\n\n© 2022\n', '\n\n \n ...",القاهرة مصر
4,Reporting and Data Analyst,Property Finder,['The ideal candidate will use their passion f...,['Graduated from Computer Science or Engineeri...,مصر

In [3]:
data['title'].unique()

array(['Data & BI Analyst', 'Data Analyst', 'Fresh Graduates 2021/2022',
       'Reporting and Data Analyst', 'Business Analyst',
       'Data Analyst-Fintech', 'Senior Data Analyst', 'Data Scientist',
       'Head of Data Analytics - Cairo - Egypt',
       'corporate strategy business analyst ',
       'Discover Graduate Program - Business Intelligence',
       'Pricing Analyst',
       'Marsh MENA Graduate Development Program - Egypt',
       'Senior / Managing Business Consultant', 'AI Engineer',
       'Business Research Analyst', 'Product Management Specialist',
       'Saudi Arabia Government Affairs Officer ', 'Data Engineer',
       'CRM Retail Officer (Digital Banking & Marketing Division)',
       'Software Business Analyst', 'Data Science Specialist',
       'Python Developer For sports statistics ',
       'AI Programming with Python',
       'Machine Learning & Data Analysis Graduate Intern',
       'Remote Python Developer Jobs',
       'Software Engineer Graduate Intern',
       'Python Developer with ERPNext and Frappe Experience',
       'Machine Learning Engineer',
       'Algorithm Development System Engineer',
       'AI/ML (Artificial Intelligence/Machine Learning) Lead',
       '5G Senior Data Scientist',
       'GRADUATE SOFTWARE ENGINEER - Dubai, UAE',
       'Remote Backend Python Developer (2) Jobs',
       'Software Quality Assurance Tester', 'Software Testing Engineer',
       'Software Manual Testing Engineer', 'Software QA Engineer',
       'Senior Quality Assurance Engineer',
       'Software Test Engineer | API Testing', 'Software Test Engineer',
       'QA Software Testing', 'Software QA Engineer - (Remote Job)',
       'Software Quality Engineer', 'Senior Software Testing Engineer',
       'Software QC Engineer', 'QA Test Engineer',
       'Junior Software Tester', 'Software Quality Assurance Engineer',
       'Mid Tester', 'Senior Software Tester'], dtype=object)

> we can observe that the title column has no strange symbols

In [4]:
data['company_name'].unique()

array(['Klivvr', 'Axis', 'Cornerstone Recruitment MENA', 'Arab Bank',
       'Property Finder', 'OLX Egypt', 'Zoho', 'MoneyFellows', 'MaxAB',
       'Floward', 'Vezeeta', 'Telecom Egypt', 'Vodafone', 'AXA', 'Marsh',
       'Huawei', 'PaxeraHealth', 'Infomineo', 'Beko Global', 'Proven',
       'Tagaddod', 'ALEXBANK', 'Koinz', 'NEXEL PARTNERS',
       'Reliance Health', 'Fekra Egypt', 'Udacity', 'Si-Ware Systems',
       'Turing.com', 'Dell Technologies', 'Idea ICT', 'Tribal', 'VOYɅNCE',
       'Fugro', 'Arrow Electronics', 'Teradata', 'Cobblestone Energy',
       'Nrsen Trading', 'Foodics', 'Khazna', 'Avelabs', 'Siemens', 'noon',
       'Expleo Group', 'Educatly', 'TIS (Tech for Integrated Services)',
       'Thales', 'Majid Al Futtaim', 'Dsquares', 'TechLabs London',
       'Curenta', 'geidea', 'MVP Solutions', 'Rawaj-HCM'], dtype=object)

> Also the company name column is clean. (has no strange symbols)

In [5]:
x = list(data['job_description'].unique())
print(x[2], end='\n-----------------------------------\n')
print(x[3], end='\n-----------------------------------\n')

['\n\n            مستوى الأقدمية\n          \n\n            مستوى متوسط الأقدمية\n          \n', '\n\n          نوع التوظيف\n        \n\n          دوام كامل\n        \n', '\n\n            المهام الوظيفية\n          \n\n            تكنولوجيا المعلومات\n          \n', '\n\n            المجالات\n          \n\n          الاستخدام والتوظيف\n          \n']
-----------------------------------
['\n\n            مستوى الأقدمية\n          \n\n            مستوى المبتدئين\n          \n', '\n\n          نوع التوظيف\n        \n\n          دوام كامل\n        \n', '\n\n            المهام الوظيفية\n          \n\n            الإدارة، مالية، و خدمة العملاء\n          \n', '\n\n            المجالات\n          \n\n          الأعمال المصرفية\n          \n']
-----------------------------------

In [6]:
def cleaned_or_not(row_value, symbol):
    if symbol in row_value:
        return 'not_cleaned'
    else:
        return 'cleaned'

In [7]:
del_rows = data[data['job_description'].apply(lambda i: cleaned_or_not(i, '\\n'))=='not_cleaned']
del_rows

,title,company_name,job_description,job_requirments,location
2,Data Analyst,Cornerstone Recruitment MENA,['\n\n مستوى الأقدمية\n \n...,"['\nLinkedIn\n\n© 2022\n', '\n\n \n ...",القاهرة مصر
3,Fresh Graduates 2021/2022,Arab Bank,['\n\n مستوى الأقدمية\n \n...,"['\nLinkedIn\n\n© 2022\n', '\n\n \n ...",القاهرة مصر
14,Pricing Analyst,AXA,['\n\n مستوى الأقدمية\n \n...,"['\nLinkedIn\n\n© 2022\n', '\n\n \n ...",القاهرة مصر
16,Senior / Managing Business Consultant,Huawei,['\n\n مستوى الأقدمية\n \n...,"['\nLinkedIn\n\n© 2022\n', '\n\n \n ...",القاهرة مصر
20,Saudi Arabia Government Affairs Officer,Proven,['\n\n مستوى الأقدمية\n \n...,"['\nLinkedIn\n\n© 2022\n', '\n\n \n ...",القاهرة مصر
25,Data Science Specialist,NEXEL PARTNERS,['\n\n نوع التوظيف\n \n\n ...,"['\nLinkedIn\n\n© 2022\n', '\n\n \n ...",القاهرة مصر
38,Data Analyst,Cornerstone Recruitment MENA,['\n\n مستوى الأقدمية\n \n...,"['\nLinkedIn\n\n© 2022\n', '\n\n \n ...",القاهرة مصر

> We can delete these rows because the job description and job_requirments are not clear, so I will delete them.

In [8]:
data.drop(index=del_rows.index, inplace=True)

In [9]:
data[data['job_description'].apply(lambda i: cleaned_or_not(i, '\\n'))=='not_cleaned']

Empty DataFrame
Columns: [title, company_name, job_description, job_requirments, location]
Index: []

> Now, we have deleted the rows which have no meaning in job description

In [10]:
replace_rows = data[data['job_requirments'].apply(lambda i: cleaned_or_not(i, '\\n'))=='not_cleaned']
replace_rows

,title,company_name,job_description,job_requirments,location
6,Business Analyst,Zoho,"['Define and plan project milestones, phases a...",['\n\n مستوى الأقدمية\n \n...,القاهرة مصر
30,Machine Learning & Data Analysis Graduate Intern,Si-Ware Systems,['Contribute to data analysis of NeoSpectra pr...,['\n\n مستوى الأقدمية\n \n...,القاهرة القاهرة مصر
40,Data Engineer,Fugro,['Possess a Bachelor’s Degrees Civil Engineeri...,['\n\n مستوى الأقدمية\n \n...,القاهرة القاهرة مصر
53,Software Testing Engineer,Avelabs,['Understand and analyze requirements includin...,['\n\n مستوى الأقدمية\n \n...,القاهرة قسم المعادي مصر

In [11]:
# I will replace these rows because we have a clear job_description
for i in replace_rows.index:
    data.loc[i, 'job_requirments'] = 'not_found'

In [12]:
data[data['job_requirments'].apply(lambda i: cleaned_or_not(i, '\\n'))=='not_cleaned']

Empty DataFrame
Columns: [title, company_name, job_description, job_requirments, location]
Index: []

##

In [13]:
pd.set_option('display.max_colwidth', None)

In [14]:
# I want to see if there is a strange symbol to replace it.
# i = 15
# while i<25:
#     print(data['job_description'].iloc[i:i+5].values)
#     i+=5
#     print('\n\n')

In [15]:
sent = data['job_description'].unique()[-2].replace('/', ' ')
sent

'["Analyzing users\' stories and use cases requirements for validity and feasibility", \'Collaborate closely with other team members and departments\', \'Execute all levels of testing (System, Integration, and Regression)\', \'Design and develop automation scripts when needed\', \'Detect and track software defects and inconsistencies\', \'Provide timely solutions\', \'Apply quality engineering principles throughout the Agile product lifecycle\', \'Provide support and documentation\']'

In [16]:
sent.replace("\'", '')

'["Analyzing users stories and use cases requirements for validity and feasibility", Collaborate closely with other team members and departments, Execute all levels of testing (System, Integration, and Regression), Design and develop automation scripts when needed, Detect and track software defects and inconsistencies, Provide timely solutions, Apply quality engineering principles throughout the Agile product lifecycle, Provide support and documentation]'

In [17]:
data['job_description'] = data['job_description'].str.replace("\'", '').str.replace('/', '')

In [18]:
data.head(3)

,title,company_name,job_description,job_requirments,location
0,Data & BI Analyst,Klivvr,"[We put our visionaries first. , We strive for innovation. , We write in pencil. , We leave our titles at the door. , We don’t follow suit. Or wear one. , We see tomorrow and build today. ]","['Identifying data sources', 'Analyzing data, identifying trends, designing key metrics for communicating actionable insights proactively.', 'Precisely collect data inquires and requirements from stakeholders.', 'Processing confidential data and information according to guidelines.', 'Supporting the data warehouse in identifying and revising reporting requirements.', 'Assessing quality of data, optimizing queries, and removing or cleaning data.', 'Developing dashboards and reports for executive teams along with promoting data literacy across the company. ', 'Sourcing missing data, distinguish areas of inefficiencies, conduct root cause analyses']",القاهرة قسم الزمالك مصر
1,Data Analyst,Axis,"[Interpreting marketing data, analyzing results using statistical techniques and providing]","['Developing & implementing databases, data collection systems, data analytics and other']",القاهرة القاهرة مصر
4,Reporting and Data Analyst,Property Finder,"[The ideal candidate will use their passion for data and analytics to provide insights into the business covering various topics. , The Reporting and Data Analyst will conduct both recurring and ad hoc analyses from multiple data sources in response to Customer Experience teams’ requests. , Also will develop daily, weekly, and monthly reports supporting the functions and needs of the Customer Experience department. ]","['Graduated from Computer Science or Engineering ', 'Entry level with a minimum 1 year of experience', 'Mathematical background - numeracy skills. ', 'Problem-solving mindset. ', 'Hands-on experience with MS Excel & G-Suite. ', 'Good Understanding of reporting & data visualization. ', 'Strong analytical skills with the ability to collect, organize, analyze, and disseminate significant amounts of information with attention to detail and accuracy. ', 'Comfort working in systems and learning new tools such as Zendesk, and SalesForce.']",مصر

In [19]:
data['job_description'].unique()[-2]

'["Analyzing users stories anduse casesrequirements for validity and feasibility", Collaborate closely with other team members and departments, Execute all levels of testing (System, Integration, and Regression), Design and develop automation scripts when needed, Detect and track software defects and inconsistencies, Provide timely solutions, Apply quality engineering principles throughout the Agile product lifecycle, Provide support and documentation]'

> <font color='blue'>**Now, we have a cleaned text with no strange symbols**

### Converting Arabic words in location to English

In [20]:
from translate import Translator
translator= Translator(from_lang="arabic",to_lang="english")

In [21]:
translator.translate("الاسكندريه")

'Alexandria'

In [22]:
# to reset the index of the data
data = data.reset_index(drop=True)

In [23]:
data['location'].str.split()

0         [القاهرة, قسم, الزمالك, مصر]
1              [القاهرة, القاهرة, مصر]
2                                [مصر]
3              [القاهرة, القاهرة, مصر]
4                       [القاهرة, مصر]
                    ...
62             [القاهرة, القاهرة, مصر]
63    [القاهرة, القاهرة, الجديدة, مصر]
64             [القاهرة, القاهرة, مصر]
65             [القاهرة, القاهرة, مصر]
66        [القاهرة, قسم, المعادي, مصر]
Name: location, Length: 67, dtype: object

In [24]:
for i in data['location'].str.split()[5]:
    print(translator.translate(i))

Cairo
Cairo
Egypt

In [25]:
x = data['location'].str.split()
x

0         [القاهرة, قسم, الزمالك, مصر]
1              [القاهرة, القاهرة, مصر]
2                                [مصر]
3              [القاهرة, القاهرة, مصر]
4                       [القاهرة, مصر]
                    ...
62             [القاهرة, القاهرة, مصر]
63    [القاهرة, القاهرة, الجديدة, مصر]
64             [القاهرة, القاهرة, مصر]
65             [القاهرة, القاهرة, مصر]
66        [القاهرة, قسم, المعادي, مصر]
Name: location, Length: 67, dtype: object

In [38]:
final = []
count = 0
for i in x:
    new = []
    for j in i:
        new.append(translator.translate(j))
    final.append(new)
#     count+=1
#     if count == 2:
#         break

In [40]:
len(final), len(data)

(67, 67)

In [42]:
final[:10]

[['Cairo', 'Section', 'Al Zamalek', 'Egypt'],
 ['Cairo', 'Cairo', 'Egypt'],
 ['Egypt'],
 ['Cairo', 'Cairo', 'Egypt'],
 ['Cairo', 'Egypt'],
 ['Cairo', 'Cairo', 'Egypt'],
 ['Cairo', 'Cairo', 'Egypt'],
 ['Cairo', 'Cairo', 'Egypt'],
 ['Cairo', 'Cairo', 'Egypt'],
 ['Cairo', 'Cairo', 'Egypt']]

In [48]:
' '.join(final[0])

'Cairo Section Al Zamalek Egypt'

In [45]:
data['location_edited'] = final

In [46]:
data.head()

,title,company_name,job_description,job_requirments,location,location_edited
0,Data & BI Analyst,Klivvr,"[We put our visionaries first. , We strive for innovation. , We write in pencil. , We leave our titles at the door. , We don’t follow suit. Or wear one. , We see tomorrow and build today. ]","['Identifying data sources', 'Analyzing data, identifying trends, designing key metrics for communicating actionable insights proactively.', 'Precisely collect data inquires and requirements from stakeholders.', 'Processing confidential data and information according to guidelines.', 'Supporting the data warehouse in identifying and revising reporting requirements.', 'Assessing quality of data, optimizing queries, and removing or cleaning data.', 'Developing dashboards and reports for executive teams along with promoting data literacy across the company. ', 'Sourcing missing data, distinguish areas of inefficiencies, conduct root cause analyses']",القاهرة قسم الزمالك مصر,"[Cairo, Section, Al Zamalek, Egypt]"
1,Data Analyst,Axis,"[Interpreting marketing data, analyzing results using statistical techniques and providing]","['Developing & implementing databases, data collection systems, data analytics and other']",القاهرة القاهرة مصر,"[Cairo, Cairo, Egypt]"
2,Reporting and Data Analyst,Property Finder,"[The ideal candidate will use their passion for data and analytics to provide insights into the business covering various topics. , The Reporting and Data Analyst will conduct both recurring and ad hoc analyses from multiple data sources in response to Customer Experience teams’ requests. , Also will develop daily, weekly, and monthly reports supporting the functions and needs of the Customer Experience department. ]","['Graduated from Computer Science or Engineering ', 'Entry level with a minimum 1 year of experience', 'Mathematical background - numeracy skills. ', 'Problem-solving mindset. ', 'Hands-on experience with MS Excel & G-Suite. ', 'Good Understanding of reporting & data visualization. ', 'Strong analytical skills with the ability to collect, organize, analyze, and disseminate significant amounts of information with attention to detail and accuracy. ', 'Comfort working in systems and learning new tools such as Zendesk, and SalesForce.']",مصر,[Egypt]
3,Data Analyst,OLX Egypt,"[Accessing data, constructing and manipulating large datasets to support planned analyses, using SQL, Python and similar tools, Designing and developing BI dashboards using Sisense or similar tools (Tableau, PowerBI, DataStudio) for various organizational metrics and indicators using best practices and industry standards in finance, sales, inventory, and other areas, Help with defining KPIs metrics and drive the data governance through standardization and communication, Create the documentation and presentation for the management under the supervision of more senior staff, Develop analysis and reporting capabilities; monitor performance and quality control plans to identify improvements., Adapt at queries, report writing and presenting findings, Research and validation of entity data using appropriate internal and external data sources, Liaising and analysis across projects within the Reference Data environment, Analysis, specification, testing and implementation of interfaces, workflow solutions, and reference data solutions – An example would be regression testing systems ahead of upgrades, Participate in the design, implementation and interpretation of experimentstrials for continuous refinement of on-going strategies, Responsible for data quality and timely delivery of reports that make common business sense, Participate in Analytics & Reporting trainings to evangelize data across the organization]","['Bachelor’s degree in statistics, mathematics, computer science, or related field. Masters is a plus.', '2+ year work experience in analytics, having closely worked with product and commercials in an internet/e-commerce company', 'Experience in e-commerce, internet and/or digital media', 'Extensive experience with SQL with proficiency in Microsoft Excel', 'Experience working with BI tools (e.g. Looker, Periscope, Tableau, etc.)', 'Skills in Python, R or similar tools are a big plus', 'Knowledge of statistics and experience using statistical packages for analyzing datasets (Excel, SPSS, SAS etc).', 'Good analytical skills with a demonstrated ability to translate data and information into actionable insights and business recommendations', 'Written and verbal proficiency in English', 'Proactive and independent of seeking information, solving conceptual problems and delivering high quality results in challenging situations', 'Passion for data and metrics', 'Hands-on attitude and the ability to thrive in a fast-paced environment', 'Highly motivated, professional, creative, proactive and able to work independently and cooperatively in a diverse group', 'Analytical thinking; Conceptual thinking; Detail-oriented; Business Acumen.', 'Strong curiosity and strive for continuous learning', 'Thrive in a fast-paced, innovative environment with good attention to detail', 'Living the team values: Simpler. Better. Faster.']",القاهرة القاهرة مصر,"[Cairo, Cairo, Egypt]"
4,Business Analyst,Zoho,"[Define and plan project milestones, phases and different elements involved in the project along with the principal consultant, Drive and challenge the presumptions of delivery teams on how they will successfully execute their plans, Ensure Customer Satisfaction through quality deliverable on time]",not_found,القاهرة مصر,"[Cairo, Egypt]"

In [49]:
data.to_csv('cleaned_data.csv')